<div class=" hidden mx-10 px-20 my-20 sm:block">
    <div class="my-2 mx-10 px-20">
        <div class="bg-center bg-purple-500 px-10 py-5 font-semibold text-center text-white">Regístrate</div>
        <div class=" bg-center ">
            <%= render 'form'%>
        </div>
    </div>
</div>


<!--LOGIN PARA MOVIL-->
<div class="  px-20 my-20 sm:hidden">
    <div class="my-2 ">
        <div class="bg-center bg-purple-500 px-10 py-5 text-white font-semibold text-center ">Regístrate</div>
        <div class=" bg-center ">
            <%= render 'form'%>
        </div>
    </div>
</div>