<div class="bg-white pb-20 p-5">
    <div class="bg-white pb-10">
        <div class="bg-gray-200 bg-center sm:mx-10 lg:mx-10 rounded-xl mx-5"> 
            <div class="sm:hidden lg:hidden"><h1 class='text-xl font-bold text-gray-50 text-center bg-sky-950 rounded-t-xl'> My favorites </h1> </div>
            <div class="hidden sm:block"><h1 class='text-xl font-bold text-gray-50 text-center bg-sky-950 rounded-t-xl'> My favorites </h1> </div>
            <div class="m-2"><%= turbo_frame_tag :products, src: products_path(favorites: true) %> </div>
        </div>
    </div>
</div>