<div class="">
    <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <img src="https://luxury-houses.net/wp-content/uploads/2023/07/85-Hawken-Road-Reno-Nevada-1-768x561.webp" alt="...">
    </div>

    <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://cflvdg.avoz.es/sc/C7sxo2E3d8s4awyjYuwslH6XOIo=/768x/2016/08/16/00121471380421751200778/Foto/reu_20160606_211612417.jpg" class="block absolute top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://luxury-houses.net/wp-content/uploads/2023/10/Haut-Bois-A-Luxurious-French-Chateau-in-Brookville-New-York-Listed-at-14.9-Million-1-768x561.jpg" alt="...">
    </div>
</div>

