<div class="">
    <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <img src="https://luxesource.com/wp-content/uploads/2019/08/LX_PB14_HOM_Schonbraun-18-1024x748.jpg" class="block absolute top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>

    <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://taste.b-cdn.net/wp-content/uploads/2023/08/Mustard-Seed-scaled-e1693483677602-1024x748.jpg" class="block absolute top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://cedarcrestoakcliff.com/wp-content/uploads/2019/02/Front-house-edited-1024x748.jpg" class="block absolute top-1/2 left-1/2 w-full h-full object-fill -translate-x-1/2 -translate-y-1/2" alt="...">
    </div>
</div>