<!--TABLET-->
<div class=" bg-white">
    <div class=" mx-5  lg:mx-20">
    <br>
        <div class="sm:mx-20 lg:mx-20">
            <h1 class="bg-purple-500 bg-center text-center sm:mx-20 lg:mx-20 text-white font-semibold rounded-t-xl p-1 lg:p-2 sm:p-2 lg:text-lg">Categories</h1>
            <div class="bg-neutral-100 sm:mx-20 rounded-b-xl lg:mx-20">

                <%= render partial: 'category', collection: @categories%>

                <br>
            </div>
        </div>
    </div>
</div>